<div class = 'cars'>
<h1 class="head">List of car</h1>
<%= form_tag(cars_path, method: :get,style:'') do %>
  <%= text_field_tag :term, params[:term],placeholder:'  search by car name or status' %>
  <%= submit_tag 'Search', name: nil %>
 <% end %><br>
  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Color</th>
      <th>Price</th>
      <th>Power</th>
      <th>Weight</th>
      <th>Speed</th>
      <th>Size</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.name %></td>
        <td><%= car.age %></td>
        <td><%= car.color %></td>
        <td><%= car.price %></td>
        <td><%= car.power %></td>
        <td><%= car.weight %></td>
        <td><%= car.speed %></td>
        <td><%= car.size %></td>
        <% if car.picture.present? %>
        <td><%= image_tag car.picture.url, style:"width:200px" %></td>
        <% else %>
        <%= image_tag("not_available.jpg", style:"width:150px") %>
        <% end %>
        <td><%= link_to 'Show', car %></td>

      </tr>
    <% end %>
  </table>


</br>

<%= link_to 'Sort by price', cars_path(sort_price: 'true'), class: 'ui blue button inverted'%>

<%= link_to 'Sort by age', cars_path(sort_age: 'true'), class: 'ui red button inverted' %>

</div>
</br>
</br>
</div>
