<div class='new'>
<h1 class='head'>Adding a car</h1>

<%= form_with(model: @car, url: cars_path, local: true) do |form| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.text_field :name,placeholder: "Car name", class:"credentials" %>
  </div>
  </br>

  <div class="field">
    <%= form.label :age, "manufactured year" %>
    <%= form.date_field :age %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.select :color, ['Blue', 'Black', 'White', 'Other'] %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.select :price, ['four millions', 'six millions', 'twenty millions'] %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.select :size, ['sports', 'Familial'] %>
  </div>
  </br>

  <div class="field">
    <%= form.number_field :weight, placeholder: "Weight", class:"credentials" %> Kg
  </div>
  </br>

  <div class="field">
    <%= form.number_field :price,placeholder: "Price", class:"credentials" %> $
  </div>
  </br>

  <div class="field">
    <%= form.text_field :speed, placeholder: "speed", class:"credentials" %>
  </div>
  </br>

  <div class="field">
    <%= form.text_field :power, placeholder: "power", class:"credentials" %>
  </div>
  </br>

  <div class="field">
    <%= form.label :picture %>
    <%= image_tag(@car.picture.url, style:"width:200px") if @car.picture && @car.picture.url %> </br>
    <%= form.file_field :picture %>
  </div>
  </br>
  <div class="field">
    <%= form.text_area :comment, placeholder: "Add comment", rows: 4 %>
  </div>

  <div class="field">
    <%= form.text_area :favorite, placeholder: "Like comment", rows: 4 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', cars_path, style: 'color:maroon' %>
</br>
</br>
<
</div>
